@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@500;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	background: url('./images/the-interior-has-a-armchair-on-empty-white-wall-background-3d-rendering\ 1.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.review_form_ui {
	left: 50%;
	background: rgba(255, 255, 255, 0.75);
	max-width: 539px;
	padding: 40px;
	border-radius: 20px;
}

label {
	margin-top: 38px;
	font-size: 16px;
	font-weight: 400;
}

input {
	margin-top: 10px;
	border-radius: 9px;
	height: 57px;
	width: 100%;
	padding: 0 20px;
	border: 1px solid #4285f4;
	background: #fff;
}

.submit_btn {
	margin-top: 50px;
	padding: 15px 0;
	color: #fff;
	font-size: 16px;
	width: 236px;
	border-radius: 10px;
	background: #779341;
	border: none;
}

.dropdown {
	padding: 15px;
	border: 1px solid #4285f4;
	background: #fff;
	border-radius: 9px;
}
